name: Lint and test
on: push
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          # TODO: こうなっている理由を調査する
          fetch-depth: '0'
      - uses: Swatinem/rust-cache@v2
      - name: Setup Rust toolchain
        run:
          rustup toolchain install stable --component rustfmt --component clippy
      # buildをしないと、src/protos/*.rsがないので次のstepでつまずく
      - name: Cargo build
        run:
          cargo build
      - name: Cargo fmt
        run:
          cargo fmt --all -- --check
      - name: Cargo clippy
        run:
          cargo clippy
      - name: Cargo test
        run:
          cargo test --all-features
