name: validate CODEOWNERS
on:
  pull_request:
    paths:
      - CODEOWNERS
      - .github/workflows/validate-codeowners.yml
  push:
    paths:
      - CODEOWNERS
      - .github/workflows/validate-codeowners.yml


jobs:
  validate:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    - uses: mszostok/codeowners-validator@v0.7.4
      with:
        # OWNER check requires token (maybe `org:read`?)
        checks: "files,duppatterns,syntax"
        experimental_checks: "notowned,avoid-shadowing"
